@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@300;400;500&display=swap');

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffaf5;
    color: #333333;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #e76f51;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #264653;
    margin-top: 70px;
}

.section-title {
    text-align: center;
}